/* ````````````````````````Color Palette```````````````````````` */
:root {
    --bg-color-1: #F8F7F5;
    --bg-color-2: #FFFEFC;
    --font: #3B2A12;
    --accent-1: #4D7A5D;
    --accent-2: #4B9D8F;
}

/* ````````````````````````CSS Resets```````````````````````` */

* {
    margin: 0;
    padding: 0;

}

/* ````````````````````````Accessibility Resets```````````````````````` */
html {
    font-size: 100%;

}

/* ````````````````````````General CSS```````````````````````` */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color-1);
    font-family: "Lora", serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--font);
    text-align: justify;
}

@media (max-width: 800px) {
    body {
        font-size: 1rem;
    }
}

header {
    padding: 6rem;
    margin-bottom: 3rem;
    background-color: var(--bg-color-1);
    /* background: linear-gradient(90deg, #afd5ba 0%, #ffffff 100%); */
    /* background-image: url("../images/banner.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--font);
    border-bottom: var(--font) .5rem solid;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    font-family: "Molle", cursive;
    /* text-decoration: underline;
    text-decoration-style:double;
    text-decoration-thickness: .2rem;
    text-decoration-color: var(--dark); */
    transition: all .2s ease-in;
}

@media (max-width: 500px) {
    header {
        padding: 6rem 3rem;
    }
}

nav {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--font);
    border-radius: .3rem;
    box-shadow: 5px 5px 8px var(--font);
}

nav a {
    text-decoration: none;
    color: var(--bg-color-2);
    display: inline-block;
    margin: 0rem 2rem;
    transition: all .2s ease-in;
}

nav a:hover {
    /* background-color: var(--font); */
    color: var(--accent-2);
    transform: scale(1.2);
}

@media (max-width: 880px) {
    nav a {
        margin: 0rem .8rem;
    }
}

main {
    margin: 0;
    transition: all .2s ease-in;
}

@media (max-width: 800px) {
    main {
        margin: 3rem;
    }
}

@media (max-width: 700px) {
    main {
        margin: 2rem;
    }
}
.about-section, .portfolio-section, .contact-section {
    margin-bottom: 3rem;
}

.about-content, .portfolio-content, .contact-content {
    max-width: 40rem;
    margin: 0rem auto;
    padding: 1rem 0rem;
}

.about-content h2, .portfolio-content h2, .contact-content h2 {
    margin: 1rem .5rem;
    padding: .8rem 0rem;
    background-color: var(--bg-color-1);
    outline: .1rem solid var(--font);
    border-radius: 2rem;
    display: inline-block;
}

.header-content {
    padding: 1.5rem;
    outline: .3rem double var(--font);
    border-radius: 1rem;
}

.portfolio-content h2 {
    color: var(--font);
}

.portfolio-content h3 {
    color: var(--accent-1);
}

.contact-content {
    color:var(--bg-color-2);
    text-align: center;
}

.contact-content h2 {
    color:var(--font);
    outline: .2rem solid var(--accent-2);
}

.portfolio-item {
    margin-bottom: 5rem;
    background-color: var(--bg-color-2);
    padding: 3rem;
    border-radius: .5rem;
    box-shadow: 5px 5px 8px var(--font);
}

.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-style: inset;
    border-width: .3rem;
    border-color: var(--font);
    border-radius: .5rem;
}

.portfolio-item h3 {
    margin: 1rem 0rem;
}

.portfolio-item p {
    font-size: 1.1rem;
}

@media (max-width: 950px) {
    .portfolio-item {
        padding: 2rem;
    }
}

@media (max-width: 750px) {
    .portfolio-item {
        padding: 1rem;
    }
}

.about-section {
    background-color:var(--bg-color-2);
    padding: .2rem 1rem;
    outline: .5rem double var(--accent-1);

}

.portfolio-section {
    background-color: var(--bg-color-2);
}

@media (max-width: 800px) {
    .portfolio-section {
        padding: 2rem;
    }
}

.contact-section {
    background-color: var(--font);
}

footer {
    /* background-color: var(--bg-color-1); */
    color: var(--font);
    padding: 1rem;
    text-align: right;
}

footer p {
    font-size: 1rem;
}


/* ````````````````````````Style Classes```````````````````````` */

.accent-h {
    font-size: 1.6rem;
    color:var(--accent-2);
}

.accent-1 {
    color:var(--accent-2);
}

/* .accent-2 {
    color:var(--accent-1);
} */



