/* ````````````````````````Color Palette```````````````````````` */
:root {
    --bg-color-1: #DDF3E9;
    --bg-color-2: #B0E4C4;
    --font: #3B2A12;
    --accent-1: #F3F1EB;
    --accent-2: #C2F2D4;
    --dark: #150F06;
}

/* ````````````````````````CSS Resets```````````````````````` */

* {
    margin: 0;
    padding: 0;

}

/* ````````````````````````Accessibility Resets```````````````````````` */
html {
    font-size: 100%;

}

/* ````````````````````````General CSS```````````````````````` */
body {
    background-color: var(--bg-color-1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--accent-1);
}

header {
    padding: 6rem;
    margin-bottom: 3rem;
    background-color: var(--bg-color-1);
    /* background: linear-gradient(90deg, #afd5ba 0%, #ffffff 100%); */
    /* background-image: url("../images/banner.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--font);
    border-bottom: var(--font) .5rem solid;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    /* text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #C2F2D4; */
}

nav {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--accent-1);
}

nav a {
    text-decoration: none;
    color: var(--font);
    display: inline-block;
    margin: 0rem 2rem;
}

nav a:hover {
    background-color: #92b8f5;
}

.about-section, .portfolio-section, .contact-section {
    margin-bottom: 3rem;
}

.about-content, .portfolio-content, .contact-content {
    max-width: 40rem;
    margin: 0rem auto;
    padding: 1rem 0rem;
}

.about-content h2, .portfolio-content h2, .contact-content h2 {
    padding: 2rem 0rem;
}

.portfolio-content h2 {
    color: var(--font);
}

.portfolio-item {
    margin-bottom: 5rem;
    background-color: var(--font);
    padding: 3rem;
    text-align: justify;
    border-radius: .5rem;
    box-shadow: 5px 5px 8px var(--bg-color-1);
}

.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-style: inset;
    border-width: .3rem;
    /* border-color: rgb(221, 223, 224); */
    border-radius: .5rem;
}

.portfolio-item h3 {
    margin: 1rem 0rem;
}

.portfolio-item p {
    font-size: 1.1rem;
}

.about-section {
    background-color:var(--font);

}

.portfolio-section {
    background-color: var(--accent-1);
}

.contact-section {
    background-color: var(--font);
}

footer {
    background-color: var(--bg-color-2);
    color: var(--font);
    padding: 1rem;
    text-align: right;
}

footer p {
    font-size: 1rem;
}


/* ````````````````````````Style Classes```````````````````````` */

.accent-1 {
    color:var(--accent-2);
}

.accent-2 {
    color:var(--bg-color-2);
}

